<header>Scrape Assignment</header>
<div class="container">
    <div class="row text-center">
        <div class="col-xs-12">
            <h2>Saved Scrapes</h2>
        </div>
    </div>
    <div class="row" style="padding-bottom:3%;">
        <div class="col-xs-12">
            <a href="/"><button style="float-left;">Home</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="articles" style="padding-right:4%;">
                {{#each saved}}
                <button data-id={{this._id}} class="delete-article" style="padding: 3px 6px; float:right;">Delete from
                    Saved</button>
                <button data-id={{this._id}} class="note-comment"
                    style="padding: 3px 6px; float:right; margin-right:.5%">Article Notes</button>
                <h4><strong>{{this.title}}</strong></h4>
                <a href="{{this.link}}">{{this.link}}</a>
                {{#if this.excerpt}}
                <h5>{{this.excerpt}}</h5>
                {{/if}}
                <hr>
                {{/each}}
            </div>
        </div>
    </div>
</div>










{{!-- <li>
    <a class="nav-link" href="/">Home
        <span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/saved">Saved Articles</a>
</li> --}}